---
const pages = ['about', 'experiences', 'training','partners', 'connect'];
const currentPath = Astro.url.pathname;
---

<nav class="font-sans bg-zinc-950/30 absolute top-0 left-0 right-0 z-50 py-4 pl-4">
  <div class="max-w-7xl mx-auto px-4 flex items-center justify-between">
    <div class="flex items-center gap-3">
      <h1 class="text-white text-5xl font-garamond">McGill</h1>
      <h1 class="text-white text-xl font-bold font-roboto pr-12">FLYING CLUB</h1>
     <img src="/logo.png" alt="McGill Flying Club Logo" class="h-10" />
      
    </div>

    <div class="flex items-center space-x-8 pr-4">
      {currentPath !== '/' && (
        <a 
          href="/" 
          class="text-white font-medium hover:text-red-900 transition-colors duration-200"
        >
          Home
        </a>
      )}
      {pages.map((page) => (
        <a 
          href={`/${page.toLowerCase()}`} 
          class="text-white font-medium hover:text-red-900 transition-colors duration-200"
        >
          {page}
        </a>
      ))}
    </div>
  </div>
</nav>

<!-- Mobile menu -->
<div class="md:hidden bg-gray-900/100">
  <div class="px-4 py-2 space-y-2">
    {currentPath !== '/' && (
      <a 
        href="/" 
        class="block text-white font-medium hover:text-blue-500 transition-colors duration-200"
      >
        Home
      </a>
    )}
    {pages.map((page) => (
      <a 
        href={`/${page.toLowerCase()}`} 
        class="block text-white font-medium hover:text-blue-500 transition-colors duration-200"
      >
        {page}
      </a>
    ))}
  </div>
</div>
