<section id="overview" class="relative overflow-hidden flex flex-col items-center py-8 px-8 gap-8">
    <h2
        class="text-3xl sm:text-4xl lg:text-5xl text-center font-bold text-white font-inter"
    >
        making flying accessible
    </h2>
    <p
        class="text-lg sm:text-xl lg:text-2xl text-white text-left font-inter font-light py-4 max-w-4xl mx-auto"
    >
        Our mission is to make aviation accessible to everyone by providing
        affordable flight training, fostering a community of passionate
        aviators, and inspiring the next generation of pilots. Through
        education, shared resources, and a love of flight, we break down
        barriers so that more people can experience the freedom and joy of
        flying.
    </p>
    <h2
        class="text-2xl sm:text-3xl lg:text-4xl text-center font-bold text-white font-inter"
    >
        because the sky belongs to everyone
    </h2>
    <div class="w-full max-w-3xl mx-auto aspect-video">
        <iframe
            src="https://www.youtube.com/embed/E-IyJ2PLVhY"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
            class="w-full h-full"></iframe>
    </div>
</section>
